@font-face {
    font-family: CA Gatinas;
    src: url(assets/fonts/C.A.\ Gatintas.ttf);
}

@font-face {
    font-family: Sontoloyo;
    src: url(assets/fonts/Sontoloyo.otf)
}

@font-face {
    font-family: Mox;
    src: url(assets/fonts/Mosk\ Medium\ 500.ttf )
}

body {
    margin: 0px;
    background-color: #060606;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

* {
    /* line-height: 40px; */
}

#body-header {
    height: 65vh;
    background-image: url(assets/images/quinton-coetzee-gpa8Y_Fk7Rg-unsplash.jpg);
    background-size: contain;
    opacity: 0.89;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 13px 0px 0px 0px;
    /* transition: filter 0.01s ease-in-out; */
    /* filter: blur(0.8px); */
}

.navactive {
    filter: blur(2px);
    height: 90vh;
}


/* nav */

nav {
    display: block;
    /* margin: -18px; */
}

#nav-list {
    list-style-type: none;
    text-align: center;
}

.nav-list li {
    display: inline-block;
    margin-left: 38px;
}

.nav-list a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 520;
    letter-spacing: 1px;
    padding: 4px 22px;
    color: rgb(255, 255, 255);
    /* color: #121b23; black*/
}


/* accesing text of navlist?  */

.nav-list a:hover {
    /* color: #a9a9a9; */
    color: rgb(0, 238, 255);
    /* border: 1px solid rgb(196, 190, 190); */
    /* border: 1px solid black; */
    /* border: 1.2px solid #08fdd8; */
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px;
    box-sizing: border-box;
    /* transition: border 0.8s, color 0.4s; */
}

.nav-list a:active {
    background-color: rgb(0, 238, 255);
    border-radius: 2px;
    color: #575354;
    font-weight: bold;
    font-size: 0.98rem
    /* color: rgb(238, 17, 17); */
}

.text-center {
    text-align: center;
}

#myname .name {
    text-align: center;
    font-size: 3rem;
    /* font-family: cursive; */
    font-family: CA Gatinas;
    /* font-family: Mox; */
    /* font-family: Sontoloyo; */
    font-weight: bolder;
    letter-spacing: 8px;
    color: rgb(250, 250, 250);
    /* background-color: pink; */
}

#myname {
    margin-top: 16vh;
}


/* socials */

#socials {
    margin-top: 5vh;
}

#socials a {
    padding: 10px;
    padding-top: 12px;
    margin-left: 4px;
}

.social-img {
    height: 20px;
}


/* background-colors of socials */

#facebook:hover {
    background-color: #0d47a1;
    border-radius: 9px 0px 0px 9px;
}

#linkedin:hover {
    background-color: #2196f3;
}

#twitter:hover {
    background-color: #2196f3;
}

#gmail:hover {
    background-color: #f81c01;
}

#mail:hover {
    background-color: #ed4926;
    border-radius: 0px 9px 9px 0px;
}


/* about */

#about {
    margin: auto;
    /* width: 10%; */
}

#my-profileimage {
    width: 170px;
    height: auto;
    margin: auto;
    margin-top: -10vh;
    position: relative;
    opacity: 0.94;
    /* visibility: hidden; */
}

#my-profileimage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px;
    transition: scale 0.1s ease-in-out;
    opacity: 0.97;
    filter: blur(0.4px);
    transition: width 0.9s ease-in-out;
    /* border: 2px solid rgb(245, 238, 234); */
}


/* 
#shade {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 238, 255, 0.13);
    transition: background-color 0.2s ease-in-out;
} */

#shade:hover {
    background: none;
}

#my-profileimage img:hover {
    filter: blur(0px);
    transform: scale(1.3);
    box-shadow: 0px 0px 8x 0px;
    cursor: pointer;
    position: relative;
    opacity: 1;
    color: rgb(0, 238, 255);
}

.info {
    width: 50vw;
    margin: auto;
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p {
    text-align: center;
    color: rgba(240, 255, 255, 0.824);
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: 0px;
    word-spacing: 2.2px;
    line-height: 5vh;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: Mox; */
    display: block;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        /*     border-color: transparent */
    }
}

.info p strong {
    /* color: #607d8b; */
    color: rgb(0, 238, 255);
    /* color: rgb(57, 150, 212); */
    font-size: 1.4rem;
    /* background-color: #0d47a1; */
}

.info #resumelink {
    margin-top: 2vh;
    display: block;
    height: 8vh;
    width: auto;
    cursor: pointer;
    margin-left: 50%;
}

#resumelink:hover {
    transform: scale(1.14);
}

.info #resumelink img {
    height: 100%;
}


/*///////////////////////// skills */

#skills {
    position: relative;
    margin: auto;
    font-size: 20px;
    margin-top: 10vh;
    border-top: 0.7px solid #151616;
    padding-top: 20px;
}

section:target {
    /* background: repeating-linear-gradient(90deg,  30%, rgb(12, 12, 12) 40%, black 60%); */
}

.sectionlogo {
    width: 20vw;
    margin: auto;
    display: flex;
    /* align-items: baseline; */
    font-size: 2rem;
    font-family: cursive;
    font-weight: 900;
    justify-content: space-between;
}

.word {
    position: relative;
    top: 5vh;
    margin-left: -1.5vw;
    letter-spacing: 2px;
    font-family: Mox;
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
}

#skillsimg {
    display: inline-block;
    height: 15vh;
    width: auto;
    margin-right: 20px;
}

#skillsimg img {
    height: 100%;
}


/* ///indicators */

#indicators {
    width: 63vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 40vh;
}

.perctge {
    box-sizing: border-box;
    font-size: 0.9rem;
    border: 0px solid white;
    width: 10vw;
    height: 10vw;
    box-shadow: 0px 0px;
    border-radius: 50%;
    margin: 18px;
    /* padding: 0px 4px; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: cursive; */
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.1px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 238, 255);
    animation: color-change 0.7s infinite alternate;
    box-sizing: border-box;
}

@keyframes color-change {
    from {}
    to {
        background-color: #ff003b;
    }
}


/* skill colors  */

.perctge div {
    /* visibility: hidden; */
    box-sizing: border-box;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    background-color: #292424;
    text-align: center;
    padding: 50px 0px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* margin: auto; */


/* border: 3px solid blue; */


/* border-radius: 4px 0px 0px 4px; */


/* padding: 4px 5.5px; */


/* transition: width 2s ease-in-out; */


/* background: linear-gradient( 90deg, rgb(21, 21, 22), grey 80%); */


/* background: linear-gradient( 125deg, cyan, rgb(223, 39, 63) 60%); */

#html div {
    /* background-color: rgb(18, 18, 19); */
}

#C div {
    /* background-color: rgb(87, 64, 15); */
}

#js div {
    /* width: 60%;
    margin: 0;
    background-color: rgb(75, 75, 77); */
    /* background-color: rgb(14, 100, 96); */
}

#bootstrap div {
    /* width: 68%;
    background-color: rgb(75, 75, 77); */
    /* background-color: #88372c; */
}


/* #Sass div {
    width: 40%;
    background-color: green;
} */

#css2 div {
    /* width: 76%; */
    /* background-color: rgb(201, 25, 54); */
}

#video div {
    /* width: 80%; */
    /* background-color: rgb(209, 78, 17); */
}

#css div {
    /* background-color: rgb(117, 0, 128); */
}

.perctge:hover {
    /* box-shadow: 0px 0px 6px 0px; */
    cursor: pointer;
}


/* 
#js:hover {
    background-color: rgb(16, 27, 44);
} */

.perctge div:hover {
    /* width: 0%; */
    /* width: 100%; */
    /* background-color: rgb(16, 27, 44); */
}


/* expereience.... */

section {
    /* overflow: hidden; */
}

.exp_education {
    /* border-top: 1px solid #151616; */
    padding-top: 0vh;
    width: 96vw;
    margin: auto;
    /* background-color: #0d47a1; */
}


/* logo */

#experience {
    margin-top: 6vh;
    margin-bottom: 16vh;
    position: relative;
    /* background-color: pink */
}

.exed_img {
    display: flex;
    height: 11vh;
    width: auto;
    margin-right: 2.4vw;
    margin-bottom: 15vh;
}

.exed_img img {
    height: 100%;
}

.exp_education .word {
    position: relative;
    top: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    /* margin-bottom: 20vw; */
}


/* contents........ */

.timeline {
    margin: auto;
    width: 94vw;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* background-color: #0d47a1; */
    /* align-items: center; */
    /* border: 3px solid #151616; */
}

.timeline_elem {
    position: relative;
    height: 250px;
    /* width: 350px; */
    width: 400px;
    min-width: 300px;
    /* margin: 0px 0px 0px 0%; */
    margin-left: 15%;
    font-size: 1.1rem;
    /* border: 1px solid rgb(109, 227, 243); */
    box-sizing: border-box;
    padding: 20px;
    /* font-family: Mox; */
    word-spacing: 4.5px;
    color: rgb(159, 168, 168);
    text-align: center;
}

.timeline_elem:nth-child(2n) {
    left: 36%;
}

.timeline_elem h1 {
    /* color: #f52346; */
    color: rgb(238, 134, 16);
    letter-spacing: 2px;
    text-align: center;
    /* border-bottom: 1px solid cyan; */
}

.timeline_elem .head_contents {
    font-size: 1.1rem;
    /* color: rgb(238, 124, 17); */
    color: rgb(209, 121, 49);
    font-weight: 600;
    text-align: right;
    line-height: 1.5em;
    margin: 10px 0px;
}

.timeline_elem:last-child {
    margin-top: 10px;
}

#experience .timeline_elem:hover {
    background-color: #18140e;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    /* border: 1px solid rgb(109, 227, 243); */
}


/* markerrr */

#experience .divider_timeline {
    position: absolute;
    left: 48.7%;
    height: 90%;
    border-left: 3px solid rgb(97, 67, 38);
    width: 2px;
}

.sticky {
    position: sticky;
    top: 30vh;
    margin-left: -30px;
    z-index: 2;
    font-size: 3rem;
}

#experience .sticky {
    color: #9c4b25;
}

.timeline_elem:nth-child(2n+1):after {
    position: absolute;
    top: 50%;
    left: 31vw;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(66, 53, 114), rgb(230, 136, 14) 80%);
    z-index: 1;
}

.timeline_elem:nth-child(2n)::before {
    position: absolute;
    top: 50%;
    left: 0%;
    /* right: 190%; */
    margin-left: -41px;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(66, 53, 114), rgb(230, 136, 14) 80%);
    z-index: 1;
}


/* education */

#education {
    margin-bottom: 8vh;
}

#education .divider_timeline {
    position: absolute;
    left: 48.7%;
    height: 70%;
    border-left: 3px solid rgb(50, 61, 87);
    width: 2px;
}

#education .sectionlogo {
    margin-bottom: 10px;
}

#education .timeline_elem h1 {
    color: #7871d8;
    letter-spacing: 2px;
    font-size: 34px;
}

#education .head_contents {
    color: #9893d8;
}

#education .sticky {
    color: #7961ce;
}

#education .timeline_elem:hover {
    background-color: #16131b;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    /* border: 1px solid rgb(109, 227, 243); */
}


/* foooter section */

.border {
    width: 93.5vw;
    height: 1px;
    background-color: rgb(48, 44, 44);
    margin: auto;
}

#footer {
    /* border-top: 4px solid #151616; */
    margin-top: 4vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    /* width: 45vw; */
    /* height: 60vh; */
    /* background-color: red; */
    /* overflow-y: hidden; */
}

#footer-links {
    font-size: 23px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* background-color: pink; */
    font-weight: 500;
}


/* foooters-socials */

#footer-socials,
#footer-socials>div {
    order: 1;
    /* width: 150px; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    /* background-color: #0d47a1; */
}


/* #footer-socials div {
    display: flex;
    flex-flow: column;
} */

#footer-socials .logo-links img {
    width: 30px;
}

@font-face {
    font-family: no_name;
    src: url(assets/fonts/recharge\ bd.ttf);
}

#name-logo {
    padding-bottom: 8px;
    font-family: no_name;
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 600;
    /* background-color: #08fdd8; */
    /* margin-top: -130px; */
    /* border-bottom: 1px solid #ff003b;+ */
}

#name-logo:hover {
    color: #ff003b;
    /* color: #f70000; */
    cursor: arrow;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
}

#footer-socials a {
    text-decoration: none;
    color: cyan;
    font-size: 20px;
}

#footer-socials a:hover {
    transform: scale(1.2);
    color: #ff003b;
}

#footer-socials>div :last-child {
    display: flex;
    justify-content: space-around;
}

#footer-socials>div :first-child {
    margin-bottom: 0px;
}

#footer-socials>div {
    height: 100px;
    margin-top: -160px;
}


/* navigation linksssss */

#footer-links {
    order: 2;
}

#footer-links .headings {
    /* color: red; */
    padding-bottom: 4px;
    font-weight: 600;
    font-size: 19px;
    border-bottom: 1px solid #ff003b;
    letter-spacing: 1px;
}

.usefull-links {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 550;
    /* background-color: blue; */
    /* height: 10px; */
}

.usefull-links ul {
    height: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.usefull-links a {
    text-decoration: none;
    color: rgb(0, 238, 255);
    padding-bottom: 2px;
    /* font-size: 18px; */
}

.usefull-links a:hover {
    border-bottom: 1px solid rgb(0, 255, 255);
}


/* contact child */

#contact {
    margin-top: 0vw;
    width: 50vw;
    order: 3;
    /* height: 60vh; */
    /* background-color: #0d47a1; */
    /* display: flex; */
    /* flex-flow: column wrap; */
}

#form {
    width: 80%;
    /* height: 45%; */
    /* background-color: red; */
    margin: auto;
    color: white;
}

#contact #text {
    width: 87.8%;
    font-size: 52px;
    /* font-family: open Sans; */
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    border-bottom: 1.5px solid #ff003b;
    /* border-top: 1.5px solid red; */
    padding: 0px 0px 0px 0px;
    margin-bottom: 4vh;
    border-radius: 0%;
}

#form form {
    width: 100%;
    /* height: 100%; */
    /* background-color: yellow; */
    display: flex;
    flex-flow: row wrap;
}

#form div {
    box-sizing: border-box;
    margin-top: 8px;
}

#form form div input {
    background-color: #1d1d1d;
    border: 0px;
    font-size: 1.05rem;
    padding: 0px 8px;
    border-radius: 4px;
    color: white;
    opacity: 0.7;
}

#form form div input:focus {
    border-bottom: 3px solid rgb(0, 238, 255);
    outline: none;
}

#form .small_box {
    width: 49.3%;
}

#form .big_box {
    width: 100%;
}

.box {
    height: 7vh;
    /* background-color: rgb(90, 90, 131); */
}

#Message {
    height: 24vh;
    /* height: 40%; */
    /* background-color: rgb(48, 133, 172); */
    /* border-bottom: 3px solid red; */
}

#form form input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#form .small_box input {
    width: 96.5%;
    height: 89%;
    padding-left: 7%;
    /* margin-left: 5px; */
}

#form #name {
    margin-right: 6.9px;
}

#form #email input {
    border-bottom: 3px solid #ff003b;
    border-radius: 3px;
}

#form .big_box input {
    padding-left: 4%;
    width: 98.5%;
    /* margin-left: 5px; */
}

#subject input {
    height: 89%;
    padding-left: 10px;
}

#Message textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 94%;
    padding: 20px;
    word-wrap: break-word;
    width: 98.5%;
    border: none;
    color: white;
    opacity: 0.4;
    background-color: #1d1d1d;
    font-size: 1rem;
    font-weight: 200;
    font-size: 1.05rem;
    resize: vertical;
    /* extra */
    position: relative;
}

#Message textarea:focus {
    color: white;
    opacity: 0.7;
    outline: none;
}

#submit_btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 48%;
    font-size: 1rem;
    letter-spacing: 2px;
    /* color: #08fdd8; */
    color: rgb(0, 238, 255);
    background-color: #060606;
    border: 1.5px solid rgb(0, 238, 255);
    transition: all 0.1s ease-in-out;
    z-index: 3;
}


/* animations  button */

#submit_btn:hover {
    cursor: pointer;
    color: #060606;
    font-weight: 500;
    color: white;
    /* background-color: #08fdd8; */
    transform: scale(1);
    border: 1.5px solid #060606;
    font-weight: 300;
}

#submit_btn span {
    position: relative;
    z-index: 3;
}

#submit_btn::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff003b;
    transition: all .3s;
}

#submit_btn:hover::after {
    width: 100%;
}


/* message animation try */

#Message textarea::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0px;
    height: 100px;
    background-color: #08fdd8;
    transition: width 2s ease-in;
}

#Message textarea:focus::after {
    width: 100%;
}


/* endparts */

#end {
    width: 93.5vw;
    height: 8vh;
    border-top: 1px solid rgb(48, 44, 44);
    margin: auto;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    flex-flow: row wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(168, 161, 161);
}

#end div:hover {
    /* color: rgb(155, 150, 150); */
    color: #08fdd8;
}


/* animations*/

section {
    animation: fade_in 0.5s ease-in 1;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* background sqares */

.squares_small {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #292525;
    transform: rotateZ(30deg);
    animation: trans-rotate 14s ease-in-out infinite forwards;
    z-index: -5;
    opacity: 0.5;
}

@keyframes trans-rotate {
    from {
        transform: translateX(0vw) translateY(0vh) rotateZ(0deg)
    }
    to {
        transform: translateX(100vw) translateY(50vh) rotateZ(720deg);
    }
}

#background_squares .bgone {
    top: 10%;
    left: 0%;
}

#background-squares .bgtwo {
    top: 80%;
    left: 0%;
    height: 200px;
    width: 200px;
}

#background-squares .bgthree {
    height: 150px;
    width: 150px;
    top: 120%;
    left: -10%;
    animation-delay: 2s;
}

#background-squares .bgfour {
    top: 140%;
    left: -10%;
    animation-delay: 2s;
}

#background-squares #five {
    animation-delay: 1s;
    top: 72%;
    left: -20%;
}

#background-squares #six {
    animation-delay: 1.5s;
    top: 100%;
    width: 300px;
    height: 300px;
    left: -20%;
}

#background-squares #seven {
    animation-delay: 2s;
    top: 60%;
    left: -20%;
}

#background-squares #eight {
    animation-delay: 3s;
    left: -10%;
    left: -20%;
    top: 110%;
}