@font-face {
    font-family: CA Gatinas;
    src: url(assets/fonts/C.A.\ Gatintas.ttf);
}

@font-face {
    font-family: Sontoloyo;
    src: url(assets/fonts/Sontoloyo.otf)
}

@font-face {
    font-family: Mox;
    src: url(assets/fonts/Mosk\ Medium\ 500.ttf )
}

body {
    margin: 0px;
    background-color: #060606;
    color: white;
    font-size: 30px;
}

* {
    /* line-height: 40px; */
}

#body-header {
    height: 65vh;
    background-image: url(assets/images/quinton-coetzee-gpa8Y_Fk7Rg-unsplash.jpg);
    background-size: contain;
    opacity: 0.89;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 13px 0px 0px 0px;
    /* transition: filter 0.01s ease-in-out; */
    /* filter: blur(0.8px); */
}

.navactive {
    filter: blur(2px);
    height: 90vh;
}


/* nav */

nav {
    display: block;
    /* margin: -18px; */
}

#nav-list {
    list-style-type: none;
    text-align: center;
}

.nav-list li {
    display: inline-block;
    margin-left: 38px;
}

.nav-list a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 520;
    letter-spacing: 1px;
    padding: 4px 22px;
    color: rgb(255, 255, 255);
    /* color: #121b23; black*/
}


/* accesing text of navlist?  */

.nav-list a:hover {
    color: #a9a9a9;
    /* border: 1px solid rgb(196, 190, 190); */
    /* border: 1px solid black; */
    /* border: 1.2px solid rgb(255, 255, 255); */
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px;
    box-sizing: border-box;
    /* transition: border 0.8s, color 0.4s; */
}

.text-center {
    text-align: center;
}

#myname .name {
    text-align: center;
    font-size: 3rem;
    /* font-family: cursive; */
    font-family: CA Gatinas;
    /* font-family: Mox; */
    /* font-family: Sontoloyo; */
    font-weight: bolder;
    letter-spacing: 8px;
    color: rgb(250, 250, 250);
}

#myname {
    margin-top: 16vh;
}


/* socials */

#socials {
    margin-top: 5vh;
}

#socials a {
    padding: 10px;
    padding-top: 12px;
    margin-left: 4px;
}

.social-img {
    height: 20px;
}


/* background-colors of socials */

#facebook:hover {
    background-color: #0d47a1;
    border-radius: 9px 0px 0px 9px;
}

#linkedin:hover {
    background-color: #2196f3;
}

#twitter:hover {
    background-color: #2196f3;
}

#gmail:hover {
    background-color: #f81c01;
}

#mail:hover {
    background-color: #ed4926;
    border-radius: 0px 9px 9px 0px;
}


/* about */

#about {
    margin: auto;
    /* width: 10%; */
}

#my-profileimage {
    width: 170px;
    height: auto;
    margin: auto;
    margin-top: -10vh;
    position: relative;
    opacity: 0.94;
    /* visibility: hidden; */
}

#my-profileimage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px;
    transition: scale 0.1s ease-in-out;
    opacity: 0.97;
    filter: blur(0.4px);
    transition: width 0.9s ease-in-out;
    /* border: 2px solid rgb(245, 238, 234); */
    /* box-shadow: px 0px 0px 0px; */
}

#my-profileimage img:hover {
    filter: blur(0px);
    transform: scale(1.3);
    box-shadow: 0px 0px 0px 0px;
    cursor: pointer;
    position: relative;
    opacity: 1;
}

.info {
    width: 50vw;
    margin: auto;
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info p {
    text-align: center;
    color: rgba(240, 255, 255, 0.824);
    font-size: 1.5rem;
    letter-spacing: 0px;
    word-spacing: 2.2px;
    line-height: 5vh;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Mox;
    display: block;
}

.info p strong {
    color: #607d8b;
    /* color: rgb(57, 150, 212); */
    font-size: 1.4rem;
}

.info #resumelink {
    margin-top: 2vh;
    display: block;
    height: 8vh;
    width: auto;
    cursor: pointer;
    margin-left: 50%;
}

#resumelink:hover {
    transform: scale(1.14);
}

.info #resumelink img {
    height: 100%;
}


/*///////////////////////// skills */

#skills {
    margin: auto;
    font-size: 20px;
    margin-top: 10vh;
    border-top: 0.7px solid #151616;
    padding-top: 20px;
}

section:target {
    background: repeating-linear-gradient(-40deg, #0f0c0c 20%, rgb(10, 9, 9) 30%, rgb(12, 12, 12) 40%, black 60%);
}

.sectionlogo {
    width: 20vw;
    margin: auto;
    display: flex;
    /* align-items: baseline; */
    font-size: 2rem;
    font-family: cursive;
    font-weight: 900;
    justify-content: space-between;
}

.word {
    position: relative;
    top: 5vh;
    margin-left: -1.5vw;
    letter-spacing: 2px;
    font-family: Mox;
    font-size: 2.5rem;
    color: #aeb9b0;
}

#skillsimg {
    display: inline-block;
    height: 15vh;
    width: auto;
    margin-right: 20px;
}

#skillsimg img {
    height: 100%;
}


/* ///indicators */

#indicators {
    width: 60vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}

.perctge {
    box-sizing: border-box;
    font-size: 0.9rem;
    border: 0px solid white;
    width: 15vw;
    height: 4.5vh;
    box-shadow: 0px 0px;
    border-radius: 3px;
    padding: 0px 4px;
    margin: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: cursive; */
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.1px;
    font-weight: bold;
}


/* skill colors  */

.perctge {
    padding: 0px;
    border-radius: 3px;
    /* border: 3px solid blue */
    /* border-right: 4rem solid #252525; */
    background-color: #333232;
    box-sizing: border-box;
}

.perctge div {
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    /* border: 3px solid blue; */
    border-radius: 4px 0px 0px 4px;
    padding: 4px 5.5px;
    transition: width 2s ease-in-out;
    background: linear-gradient( 90deg, rgb(21, 21, 22), grey 80%);
}

#html div {
    /* background-color: rgb(18, 18, 19); */
}

#C div {
    /* background-color: rgb(87, 64, 15); */
}

#js div {
    width: 60%;
    margin: 0;
    background-color: rgb(75, 75, 77);
    /* background-color: rgb(14, 100, 96); */
}

#bootstrap div {
    width: 68%;
    background-color: rgb(75, 75, 77);
    /* background-color: #88372c; */
}

#Sass div {
    width: 40%;
    /* background-color: green; */
}

#css2 div {
    width: 76%;
    /* background-color: rgb(201, 25, 54); */
}

#video div {
    /* width: 80%; */
    /* background-color: rgb(209, 78, 17); */
}

#css div {
    /* background-color: rgb(117, 0, 128); */
}

.perctge:hover {
    /* box-shadow: 0px 0px 6px 0px; */
    cursor: pointer;
}


/* 
#js:hover {
    background-color: rgb(16, 27, 44);
} */

.perctge div:hover {
    width: 0%;
    /* width: 100%; */
    /* background-color: rgb(16, 27, 44); */
}


/* expereience.... */

.exp_education {
    border-top: 1px solid #151616;
    padding-top: 20px;
    margin-top: 6vh;
}


/* logo */

.exed_img {
    display: flex;
    height: 11vh;
    width: auto;
    margin-right: 2.4vw;
    margin-bottom: 10vh;
}

.exed_img img {
    height: 100%;
}

.exp_education .word {
    position: relative;
    top: 0.8rem;
}


/* contents........ */

.timeline {
    margin: auto;
    width: 90vw;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* background-color: #0d47a1; */
    /* align-items: center; */
    /* border: 3px solid #151616; */
}

.timeline_elem {
    position: relative;
    height: 250px;
    /* width: 350px; */
    width: 27%;
    min-width: 300px;
    /* margin: 0px 0px 0px 0%; */
    margin-left: 15%;
    font-size: 1.1rem;
    /* border: 1px solid rgb(109, 227, 243); */
    box-sizing: border-box;
    padding: 0px 4px;
    font-family: Mox;
    word-spacing: 4.5px;
}

.timeline_elem:nth-child(2n) {
    left: 40%;
}

.timeline_elem h1 {
    color: #cc3737;
    letter-spacing: 2px;
}

.timeline_elem p:nth-child(2) {
    font-size: 1.3rem;
    color: rgb(211, 139, 44);
    font-weight: 600;
    position: relative;
    left: 55%;
    line-height: 0px;
    margin: 2vw 0px;
}

.timeline_elem p:nth-child(3) {
    position: relative;
    left: 50%;
    color: rgb(33, 97, 134);
    font-weight: 600;
}

.timeline_elem:hover {
    background: linear-gradient( rgb(245, 245, 245) 50%, rgba(219, 218, 218, 0.986));
    color: black;
    font-weight: 500;
    border-radius: 8px;
    /* transform: scale(1.1); */
    cursor: pointer;
    /* border: 1px solid rgb(109, 227, 243); */
}


/* markerrr */

#experience .divider_timeline {
    position: absolute;
    left: 48.7%;
    height: 90%;
    border-left: 5px solid rgb(105, 99, 99);
    width: 2px;
}

.sticky {
    position: sticky;
    top: 30vh;
    margin-left: -18px;
    z-index: 2;
}

.timeline_elem:nth-child(2n+1):after {
    position: absolute;
    top: 50%;
    left: 123.5%;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(222, 233, 222);
    z-index: 1;
}

.timeline_elem:nth-child(2n):after {
    position: absolute;
    top: 50%;
    right: 121%;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(248, 252, 248);
    z-index: 1;
}


/* education */

#education {
    margin-top: 10vh;
}

#education .divider_timeline {
    position: absolute;
    left: 48.7%;
    height: 70%;
    border-left: 5px solid rgb(105, 99, 99);
    width: 2px;
}

#education .sectionlogo {
    margin-bottom: 10px;
}

#education .timeline_elem h1 {
    color: #8a90be;
    letter-spacing: 2px;
}


/* foooter section */

#footer {
    border-top: 4px solid #151616;
    margin-top: 0px;
}

#contact {
    width: 45vw;
    height: 85vh;
    /* background-color: #0d47a1; */
    display: flex;
    flex-flow: column wrap;
}

#form {
    width: 80%;
    height: 45%;
    /* background-color: red; */
    margin: auto;
}

#contact #text {
    font-size: 3rem;
    /* font-family: open Sans; */
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
}

#form form {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-flow: row wrap;
}

#form div {
    box-sizing: border-box;
    margin-top: 8px;
}

#form .small_box {
    width: 49.3%;
}

#form .big_box {
    width: 100%;
}

.box {
    height: 18%;
    /* background-color: rgb(90, 90, 131); */
}

#Message {
    height: 60%;
    /* background-color: rgb(48, 133, 172); */
    /* border-bottom: 3px solid red; */
}

#form .small_box input {
    width: 96.5%;
    height: 89%;
    padding-left: 10px;
    /* margin-left: 5px; */
}

#form #name {
    margin-right: 6.9px;
}

#form #email input {
    border-bottom: 3px solid red;
    border-radius: 3px;
}

#form .big_box input {
    width: 98.5%;
    /* margin-left: 5px; */
}

#subject input {
    height: 89%;
    padding-left: 10px;
}

#Message input {
    height: 94%;
    padding: 20px;
    word-wrap: break-word;
}

#submit_btn {
    margin-top: 25px;
    margin-left: 238px;
}